<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videoconvertor</title>
    {% load static %}
    <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
    type="text/css">
  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <img src="{% static 'mainApp/Image/Thinkingoutloud.jpeg' %}"class="img-thumbnail">
        <h1>{% include "mainApp/includes/some_html.html" %}</h1>



<p>
  <a href="/" class ="btn btn-success btn-lg">Don't click also</a>
 <a href="/news" class ="btn btn-primary btn-lg">Don't click</a>
</p>
<form method="POST">
  {%csrf_token%}
  {{form}}


  <p>
    <input type="submit" value="ok">
  </p>
</form>
<a href ="{{temp}}">dont click</a>
      </div>
    </div>

  </body>
</html>
